
/* Base styles */
* {
	box-sizing: border-box;  
	margin: 0;   
	padding: 0; 
}

html {
	font-size: 100%;
}

body {
	font-size: 1em;
	font-family: "Open Sans";
	color: #8A97A0;
}

/***	Mobile ***
*/

/* Layout */
.wrapper {
	width: 100%;
	margin: auto;
}

.content-block {
	padding: 0 15px 15px 15px;
	position: relative;
	float: left;
}

/* titles */
.main-title, 
.card-title {
	font-family: Montserrat;
	font-weight: 700;
	text-transform: capitalize;
}

.main-title {
	font-size: 1.75em; 
	text-align: center;
	padding: 50px 0;
}
 
/* Card */
.card {
	background: #F4F7F8;
	border: 1px solid #384047;
	border-radius: 2px;
	position: relative;
}

.card-title {
	font-size: 1.25em; 
	border: 1px solid #384047;
        border-top: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 130px;
	padding: 5px 0;
	text-align: center;
	border-radius: 0 0 0 2px;
}

.card-content {
	margin-top: 40px;
	padding: 15px;
}

/* Colors */
.chicken {
	background: #405264;
	color: #F4F7F8;
}

.beef {
	background: #2ecc71;
	color: #F4F7F8;
}

.sushi {
	background: #21C2F8;
	color: #F4F7F8;
}

/* Media queries */
/*
/* Tablet  
*/
@media (min-width: 768px) and (max-width: 991px) {
	.content-block {
		width: 50%;
	}

	.content-block:nth-child(4) {
		width: 100%;
	}

}

/* Desktop  
*/
@media (min-width: 992px)  {
	.content-block {
		width: 33.33333333%;
	}
}







